.app-header {
  font-family: "Open Sans", sans-serif;
  padding-left: 30px;
}

.app-header > h1 {
  font-size: 4em;
  color: #3E5769;
  font-weight: 600;
  margin-bottom: 0.35em;
}

.material-text-field {
  position: relative;
  display: inline-block;
}

input {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 1rem 0.7rem;
  color: gray;
  transition: 0.1s ease-out;
  width: 15em;
  background: transparent;
}

input:focus {
  border-color: #284CC9;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #284CC9;
  color: #ecf0f1;
  transition: background-color 0.3s;
}

.btn:hover, .btn:focus {
  background-color: #284CC9;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 18px 26px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.stock-tickers > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  grid-gap: 1rem;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  padding-inline-end: 40px;
}

/*# sourceMappingURL=stock-dashboard.component.css.map */
