<header class="app-header">
  <h1>Stock Watcher</h1>
  <div class="material-text-field">
    <input placeholder="Enter stock symbol" type="text" (keydown.enter)="addStock(txtStockSymbol)" [(ngModel)]="txtStockSymbol"/>
  </div>
  <button class="btn" type="button" (click)="addStock(txtStockSymbol)" formtarget="_blank">
    <span>ADD STOCK</span>
  </button>
</header>
<section class="stock-tickers" id="stocks">
  <ul>
    <li *ngFor="let stock of watchedStocks">
      <app-stock-ticker [stock]="stock"></app-stock-ticker>
    </li>
  </ul>
</section>
