.stock-ticker {
  background-color: #fff;
  display: flex;
  height: 152px;
}

.stock-price-scale-container {
  margin-inline-start: 32px;
  margin-inline-end: 32px;
}

.stock-scale-price {
  color: white;
  width: 104px;
}

.gain-scale {
  background: linear-gradient(0deg, #00a333 0%, #6af531 100%);
}

.loss-scale {
  background: linear-gradient(0deg, #901700 10%, #eb5631 100%);
}

.stock-info {
  overflow: hidden;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-top: 1.2em;
}

.stock-info > header {
  margin-bottom: 0.4em;
}

.stock-info > header > h3 {
  color: #3E5769;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0em;
}

.stock-info > header > h4 {
  color: #919AA0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 0.9em;
}

.vertical-arrow-container {
  width: 100%;
  height: 120px;
  position: relative;
  border-width: 0;
  border-left: 2px solid;
  border-image: linear-gradient(#FFF, rgba(0, 0, 0, 0)) 1 100%;
}

.arrow-right {
  position: absolute;
  left: -0.85em;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid white;
}

.scale-high-value {
  display: flex;
  padding-left: 0.8em;
  height: 60px;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: 0.8em;
  font-weight: 600;
}

.scale-low-value {
  display: flex;
  padding-left: 0.8em;
  height: 60px;
  flex-wrap: wrap;
  align-content: flex-end;
  font-size: 0.8em;
  font-weight: 600;
}

.stock-price-container {
  display: flex;
  align-items: flex-end;
  column-gap: 1em;
}

.stock-price-container > h2 {
  margin: 0;
  font-size: 1.8em;
  font-weight: 300;
  color: #3E5769;
}

.up-arrow {
  padding-bottom: 0.5px;
  filter: invert(36%) sepia(46%) saturate(6110%) hue-rotate(129deg) brightness(101%) contrast(101%);
}

.down-arrow {
  padding-bottom: 0.5px;
  filter: invert(15%) sepia(54%) saturate(3353%) hue-rotate(357deg) brightness(99%) contrast(111%);
}

.stock-price-change {
  font-size: 0.9em;
  font-weight: 500;
}

.stock-percent-change {
  font-size: 0.9em;
  font-weight: 500;
}

.positive-price-change {
  color: #00A333;
}

.positive-percent-change {
  color: #31b50a;
  font-size: 0.9em;
  font-weight: 500;
}

.negative-price-change {
  color: #901700;
}

.negative-percent-change {
  color: #BB0606;
}

.high-low-open-details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  padding: 0.4em 0em;
  font-size: 0.8em;
  font-weight: 600;
}

.high-low-open-details > div {
  white-space: nowrap;
}

.open-title, .high-title, .low-title {
  color: #919AA0;
}

.open-value, .high-value, .low-value {
  color: #3E5769;
}

@media (max-width: 781px) {
  .stock-scale-price {
    display: none;
  }

  .high-low-open-details {
    display: none;
  }

  .stock-info {
    width: 100%;
  }

  .stock-info > header {
    float: left;
    width: 66%;
  }

  .stock-price-container {
    justify-content: flex-end;
    flex-direction: column;
  }

  .stock-ticker {
    height: 80px;
  }
}

/*# sourceMappingURL=stock-ticker.component.css.map */
