<article class="stock-ticker">
  <section class="stock-scale-price {{stock.changeInPrice > 0 ? 'gain-scale' : 'loss-scale'}}">
    <figure class="stock-price-scale-container">
      <div class="vertical-arrow-container">
        <div class=arrow-right [ngStyle]="{bottom:getPixelPlacementOfArrow(stock.price, stock.high, stock.low)}"></div>
        <div class="high-low-container">
          <div class="scale-high-value">{{stock.high}}</div>
          <div class="scale-low-value">{{stock.low}}</div>
        </div>
      </div>
    </figure>
  </section>
  <section class="stock-info">
    <header>
      <h3>{{stock.name}}</h3>
      <h4>{{stock.symbol}}</h4>
    </header>
    <div class="stock-price-container">
      <h2>{{stock.price}}</h2>
      <div>
        <img *ngIf="stock.changeInPrice > 0" src = "/assets/arrow-up.svg" alt="arrow up svg" width="10" height="10" class="up-arrow"/>
        <img *ngIf="stock.changeInPrice < 0" src = "/assets/arrow-down.svg" alt="arrow down svg" width="10" height="10" class="down-arrow"/>
        <span class="stock-price-change {{stock.changeInPrice > 0 ? 'positive-price-change' : 'negative-price-change'}}">{{stock.changeInPrice}} </span>
        <span class="stock-percent-change {{stock.percentChange > 0 ? 'positive-percent-change' : 'negative-percent-change'}}"> ({{stock.percentChange}})</span>
      </div>
    </div>
    <div class="high-low-open-details">
      <div><span class="open-title">OPEN </span><span class="open-value"> {{stock.open}}</span></div>
      <div><span class="high-title">HIGH </span><span class="high-value"> {{stock.high}}</span></div>
      <div><span class="low-title">LOW </span><span class="low-value"> {{stock.low}}</span></div>
    </div>
  </section>
</article>
